In [1]:
import matplotlib.pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd
plt.style.use('ggplot')
from pandas.plotting import scatter_matrix
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor

In [28]:
original_observation_data = pd.read_csv(r'C:\Users\Isabe\Oxygen Exposure of Southern California Megafauna\ROVObservationData.csv')

In [29]:
original_observation_data.dtypes

DateTime|"Easting"|"Northing"|"Depth"|"Temp"|"Sal"|"Oxy"|"Grain"|"Bedform"|"ac"|"ae"|"an"|"ap"|"as"|"ba"|"bas"|"bc"|"bgo"|"bgu"|"bi"|"bo"|"br"|"bs"|"ca"|"cc"|"cd"|"cg"|"ch"|"com"|"cp"|"cr"|"cs"|"cu"|"de"|"dp"|"eo"|"ep"|"eu"|"fej"|"fl"|"fo"|"fr"|"go"|"ha"|"hal"|"hb"|"hl"|"ii"|"io"|"ir"|"jde"|"jm"|"kb"|"kw"|"lc"|"lcom"|"li"|"ln"|"lo"|"ls"|"lss"|"lu"|"ly"|"lz"|"mc"|"mr"|"ms"|"mse"|"ol"|"ow"|"pa"|"pc"|"pem"|"pg"|"ph"|"pi"|"pl"|"po"|"pp"|"ppl"|"ps"|"pt"|"pyr"|"ra"|"rb"|"rh"|"ro"|"ru"|"rw"|"sa"|"sb"|"sc"|"scom"|"sd"|"se"|"sec"|"sh"|"shc"|"sl"|"sm"|"spo"|"sq"|"ss"|"st"|"te"|"th"|"ti"|"tr"|"unkss"|"vm"|"vr"|"vs"|"wfs"|"xl"|"ye"|"za"|"bl"|"hc"|"pe"|"py"    object
dtype: object

In [30]:
observation_column_names = "DateTime|Easting|Northing|Depth|Temp|Sal|Oxy|Grain|Bedform|ac|ae|an|ap|as|ba|bas|bc|bgo|bgu|bi|bo|br|bs|ca|cc|cd|cg|ch|com|cp|cr|cs|cu|de|dp|eo|ep|eu|fej|fl|fo|fr|go|ha|hal|hb|hl|ii|io|ir|jde|jm|kb|kw|lc|lcom|li|ln|lo|ls|lss|lu|ly|lz|mc|mr|ms|mse|ol|ow|pa|pc|pem|pg|ph|pi|pl|po|pp|ppl|ps|pt|pyr|ra|rb|rh|ro|ru|rw|sa|sb|sc|scom|sd|se|sec|sh|shc|sl|sm|spo|sq|ss|st|te|th|ti|tr|unkss|vm|vr|vs|wfs|xl|ye|za|bl|hc|pe|py"

In [31]:
observation_column_names = observation_column_names.split('|')
observation_data = pd.DataFrame()
observation_data = pd.DataFrame(columns = observation_column_names)

In [32]:
observation_data

Empty DataFrame
Columns: [DateTime, Easting, Northing, Depth, Temp, Sal, Oxy, Grain, Bedform, ac, ae, an, ap, as, ba, bas, bc, bgo, bgu, bi, bo, br, bs, ca, cc, cd, cg, ch, com, cp, cr, cs, cu, de, dp, eo, ep, eu, fej, fl, fo, fr, go, ha, hal, hb, hl, ii, io, ir, jde, jm, kb, kw, lc, lcom, li, ln, lo, ls, lss, lu, ly, lz, mc, mr, ms, mse, ol, ow, pa, pc, pem, pg, ph, pi, pl, po, pp, ppl, ps, pt, pyr, ra, rb, rh, ro, ru, rw, sa, sb, sc, scom, sd, se, sec, sh, shc, sl, sm, ...]
Index: []

[0 rows x 120 columns]

In [33]:
i=0
while(i<2404):
    data = str(original_observation_data.iloc[i][0])
    split = data.split('|')
    observation_data.loc[len(observation_data)] = split
    i = i+1

In [34]:
observation_data

,DateTime,Easting,Northing,Depth,Temp,Sal,Oxy,Grain,Bedform,ac,...,vr,vs,wfs,xl,ye,za,bl,hc,pe,py
0,2013-03-05 10:09:14,474309.470706532,3635620.52327595,24.653,12.1313,33.5366,4.174,"""s2""","""lr""",0,...,0,0,0,0,0,0,0,0,0,0
1,2013-03-05 10:03:14,474336.32882527,3635361.60918328,20.962,12.4446,33.5256,4.459,"""s2""","""lr""",0,...,0,0,0,0,0,0,0,0,0,0
2,2013-03-05 09:54:29,474543.140760596,3635491.96680274,22.882,12.2266,33.5263,4.263,"""s2""","""hr""",0,...,0,0,0,0,0,0,0,0,0,0
3,2013-03-05 09:56:33,474482.508857872,3635516.73382511,25.611,12.136,33.5403,4.154,"""s1""","""hr""",0,...,0,0,0,0,0,0,0,0,0,0
4,2013-03-05 10:14:34,474291.036341439,3635766.84725211,28.129,12.1087,33.5308,4.149,"""s1""","""hr""",0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399,2013-01-05 14:54:24,472039.824758451,3636588.6536758,69.993,10.7887,33.6817,2.942,"""s2""","""f""",0,...,0,0,0,0,0,0,0,0,0,0
2400,2013-01-05 14:55:10,472011.774258913,3636545.83363821,70.752,10.7704,33.6847,2.933,"""s2""","""f""",0,...,0,0,0,0,0,0,0,0,0,0
2401,2013-01-05 14:56:03,471996.396745327,3636523.56210995,70.554,10.7613,33.6844,2.929,"""s2""","""f""",0,...,0,0,0,0,0,0,0,0,0,0
2402,2013-01-05 14:59:49,471911.630354841,3636500.47623385,71.01,10.7552,33.6863,2.927,"""s2""","""f""",0,...,0,0,0,0,0,0,0,0,0,0
2403,2013-01-05 15:01:35,471864.879935997,3636510.64425265,70.852,10.7561,33.6848,2.926,"""s2""","""f""",0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
observation_column_names = list(observation_data.columns.values)
n=0
m=0
while(m<120):
    while(n<2404):
        observation_data.loc[n][observation_column_names[m]] = observation_data.loc[n][observation_column_names[m]].replace('"', '')
        observation_data.loc[n][observation_column_names[m]] = observation_data.loc[n][observation_column_names[m]].replace('NA', '')
        n=n+1
    n=0
    m=m+1

In [14]:
original_species_data = pd.read_csv(r'C:\Users\Isabe\Oxygen Exposure of Southern California Megafauna\SpeciesMetadata.csv')

In [39]:
species_column_names = list(original_species_data.columns)
species_column_names = species_column_names[0].split('|')
species_data = pd.DataFrame()
species_data = pd.DataFrame(columns = species_column_names)

In [41]:
i=0
while(i<111):
    data = str(original_species_data.iloc[i][0])
    split = data.split('|')
    species_data.loc[len(species_data)] = split
    i = i+1

In [43]:
observation_data[['Easting',
     'Northing',
     'Depth',
     'Temp',
     'Sal',
     'Oxy',]] = observation_data[['Easting',
                     'Northing',
                     'Depth',
                     'Temp',
                     'Sal',
                     'Oxy',]].apply(pd.to_numeric)

In [44]:
observation_data[['ac',
 'ae',
 'an',
 'ap',
 'as',
 'ba',
 'bas',
 'bc',
 'bgo',
 'bgu',
 'bi',
 'bo',
 'br',
 'bs',
 'ca',
 'cc',
 'cd',
 'cg',
 'ch',
 'com',
 'cp',
 'cr',
 'cs',
 'cu',
 'de',
 'dp',
 'eo',
 'ep',
 'eu',
 'fej',
 'fl',
 'fo',
 'fr',
 'go',
 'ha',
 'hal',
 'hb',
 'hl',
 'ii',
 'io',
 'ir',
 'jde',
 'jm',
 'kb',
 'kw',
 'lc',
 'lcom',
 'li',
 'ln',
 'lo',
 'ls',
 'lss',
 'lu',
 'ly',
 'lz',
 'mc',
 'mr',
 'ms',
 'mse',
 'ol',
 'ow',
 'pa',
 'pc',
 'pem',
 'pg',
 'ph',
 'pi',
 'pl',
 'po',
 'pp',
 'ppl',
 'ps',
 'pt',
 'pyr',
 'ra',
 'rb',
 'rh',
 'ro',
 'ru',
 'rw',
 'sa',
 'sb',
 'sc',
 'scom',
 'sd',
 'se',
 'sec',
 'sh',
 'shc',
 'sl',
 'sm',
 'spo',
 'sq',
 'ss',
 'st',
 'te',
 'th',
 'ti',
 'tr',
 'unkss',
 'vm',
 'vr',
 'vs',
 'wfs',
 'xl',
 'ye',
 'za',
 'bl',
 'hc',
 'pe',
 'py']] = observation_data[['ac',
 'ae',
 'an',
 'ap',
 'as',
 'ba',
 'bas',
 'bc',
 'bgo',
 'bgu',
 'bi',
 'bo',
 'br',
 'bs',
 'ca',
 'cc',
 'cd',
 'cg',
 'ch',
 'com',
 'cp',
 'cr',
 'cs',
 'cu',
 'de',
 'dp',
 'eo',
 'ep',
 'eu',
 'fej',
 'fl',
 'fo',
 'fr',
 'go',
 'ha',
 'hal',
 'hb',
 'hl',
 'ii',
 'io',
 'ir',
 'jde',
 'jm',
 'kb',
 'kw',
 'lc',
 'lcom',
 'li',
 'ln',
 'lo',
 'ls',
 'lss',
 'lu',
 'ly',
 'lz',
 'mc',
 'mr',
 'ms',
 'mse',
 'ol',
 'ow',
 'pa',
 'pc',
 'pem',
 'pg',
 'ph',
 'pi',
 'pl',
 'po',
 'pp',
 'ppl',
 'ps',
 'pt',
 'pyr',
 'ra',
 'rb',
 'rh',
 'ro',
 'ru',
 'rw',
 'sa',
 'sb',
 'sc',
 'scom',
 'sd',
 'se',
 'sec',
 'sh',
 'shc',
 'sl',
 'sm',
 'spo',
 'sq',
 'ss',
 'st',
 'te',
 'th',
 'ti',
 'tr',
 'unkss',
 'vm',
 'vr',
 'vs',
 'wfs',
 'xl',
 'ye',
 'za',
 'bl',
 'hc',
 'pe',
 'py']].apply(pd.to_numeric)

In [45]:
observation_data['Easting'].agg(['min', 'max'])

min    468647.562132
max    479907.572714
Name: Easting, dtype: float64

In [46]:
observation_data['Northing'].agg(['min', 'max'])

min    3.604817e+06
max    3.645491e+06
Name: Northing, dtype: float64

In [47]:
combined_data = pd.DataFrame(columns = ['DateTime','Easting','Northing','Depth', 'Temp','Sal','Oxy','Grain','Bedform','SpeciesCode', 'Mobility',
                    'SpeciesName', 'CommonName', 'MajorTaxa','Group', 'QuantScale'])

Empty DataFrame
Columns: [DateTime, Easting, Northing, Depth, Temp, Sal, Oxy, Grain, Bedform, SpeciesCode, Mobility, SpeciesName, CommonName, MajorTaxa, Group, QuantScale]
Index: []

In [ ]:
i=9
c=0
while(i<119):
    if (.iloc[i][0] ==0)
        c=c+1
    else
        c=c
    

    
    i = i+1

In [ ]:
#combined.columns = ['DateTime','Easting','Northing','Depth', 'Temp','Sal','Oxy','Grain','Bedform','SpeciesCode', 'Mobility',
              #      'SpeciesName', 'CommonName', 'MajorTaxa','Group', 'QuantScale']

In [26]:
%history -g -f 'Oxygen Exposure of Southern California Megafauna'

File "'Oxygen" exists. Overwrite? no
Aborting.