In [158]:
import matplotlib.pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd
plt.style.use('ggplot')
from pandas.plotting import scatter_matrix
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor

In [4]:
pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-11.0.0-cp39-cp39-win_amd64.whl (20.6 MB)
Requirement already satisfied: numpy>=1.16.6 in c:\users\isabe\anaconda3\lib\site-packages (from pyarrow) (1.21.5)
Installing collected packages: pyarrow
Successfully installed pyarrow-11.0.0
Note: you may need to restart the kernel to use updated packages.

In [7]:
pd.read_parquet('sample_submission.parquet', engine='pyarrow')

   event_id  azimuth  zenith
0      2092        1       1
1      7344        1       1
2      9482        1       1

In [23]:
obs = pd.read_csv(r'C:\Users\Isabe\Oxygen Exposure of Southern California Megafauna\ROVObservationData.csv')
obs.shape

(2404, 1)

In [27]:
obs.dtypes

DateTime|"Easting"|"Northing"|"Depth"|"Temp"|"Sal"|"Oxy"|"Grain"|"Bedform"|"ac"|"ae"|"an"|"ap"|"as"|"ba"|"bas"|"bc"|"bgo"|"bgu"|"bi"|"bo"|"br"|"bs"|"ca"|"cc"|"cd"|"cg"|"ch"|"com"|"cp"|"cr"|"cs"|"cu"|"de"|"dp"|"eo"|"ep"|"eu"|"fej"|"fl"|"fo"|"fr"|"go"|"ha"|"hal"|"hb"|"hl"|"ii"|"io"|"ir"|"jde"|"jm"|"kb"|"kw"|"lc"|"lcom"|"li"|"ln"|"lo"|"ls"|"lss"|"lu"|"ly"|"lz"|"mc"|"mr"|"ms"|"mse"|"ol"|"ow"|"pa"|"pc"|"pem"|"pg"|"ph"|"pi"|"pl"|"po"|"pp"|"ppl"|"ps"|"pt"|"pyr"|"ra"|"rb"|"rh"|"ro"|"ru"|"rw"|"sa"|"sb"|"sc"|"scom"|"sd"|"se"|"sec"|"sh"|"shc"|"sl"|"sm"|"spo"|"sq"|"ss"|"st"|"te"|"th"|"ti"|"tr"|"unkss"|"vm"|"vr"|"vs"|"wfs"|"xl"|"ye"|"za"|"bl"|"hc"|"pe"|"py"    object
dtype: object

In [119]:
name = "DateTime|Easting|Northing|Depth|Temp|Sal|Oxy|Grain|Bedform|ac|ae|an|ap|as|ba|bas|bc|bgo|bgu|bi|bo|br|bs|ca|cc|cd|cg|ch|com|cp|cr|cs|cu|de|dp|eo|ep|eu|fej|fl|fo|fr|go|ha|hal|hb|hl|ii|io|ir|jde|jm|kb|kw|lc|lcom|li|ln|lo|ls|lss|lu|ly|lz|mc|mr|ms|mse|ol|ow|pa|pc|pem|pg|ph|pi|pl|po|pp|ppl|ps|pt|pyr|ra|rb|rh|ro|ru|rw|sa|sb|sc|scom|sd|se|sec|sh|shc|sl|sm|spo|sq|ss|st|te|th|ti|tr|unkss|vm|vr|vs|wfs|xl|ye|za|bl|hc|pe|py"

In [133]:
title = name.split('|')

In [122]:
new = pd.DataFrame()
new = pd.DataFrame(columns = title)

In [124]:
len(title)

120

In [127]:
i=0
while(i<2404):
    data = str(obs.iloc[i][0])
    split = data.split('|')
    new.loc[len(new)] = split
    i = i+1

In [151]:
column_names = list(new.columns.values)
n=0
m=0
while(m<120):
    while(n<2404):
        new.loc[n][column_names[m]] = new.loc[n][column_names[m]].replace('"', '')
        n=n+1
    n=0
    m=m+1

In [156]:
new.describe()

,DateTime,Easting,Northing,Depth,Temp,Sal,Oxy,Grain,Bedform,ac,...,vr,vs,wfs,xl,ye,za,bl,hc,pe,py
count,2404,2404,2404,2404,2404,2404,2404,2404,2404,2404,...,2404,2404,2404,2404,2404,2404,2404,2404,2404,2404
unique,2148,2181,2181,1333,1305,1098,1109,5,11,9,...,8,3,9,2,5,2,3,2,2,2
top,2014-01-25 10:27:06,472694.197070615,3644183.78831685,23.132,14.01,33.3948,4.769,s2,f,0,...,0,0,0,0,0,0,0,0,0,0
freq,5,5,5,30,30,30,30,1239,1223,2315,...,2377,2398,2326,2403,2353,2403,2402,2402,2403,2403

In [168]:
type(new.iloc[0][1])

str