In [21]:
import matplotlib.pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd
plt.style.use('ggplot')
from pandas.plotting import scatter_matrix
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor

In [22]:
original_observation_data = pd.read_csv(r'C:\Users\Isabe\Oxygen Exposure of Southern California Megafauna\ROVObservationData.csv')

In [23]:
original_observation_data.dtypes

DateTime|"Easting"|"Northing"|"Depth"|"Temp"|"Sal"|"Oxy"|"Grain"|"Bedform"|"ac"|"ae"|"an"|"ap"|"as"|"ba"|"bas"|"bc"|"bgo"|"bgu"|"bi"|"bo"|"br"|"bs"|"ca"|"cc"|"cd"|"cg"|"ch"|"com"|"cp"|"cr"|"cs"|"cu"|"de"|"dp"|"eo"|"ep"|"eu"|"fej"|"fl"|"fo"|"fr"|"go"|"ha"|"hal"|"hb"|"hl"|"ii"|"io"|"ir"|"jde"|"jm"|"kb"|"kw"|"lc"|"lcom"|"li"|"ln"|"lo"|"ls"|"lss"|"lu"|"ly"|"lz"|"mc"|"mr"|"ms"|"mse"|"ol"|"ow"|"pa"|"pc"|"pem"|"pg"|"ph"|"pi"|"pl"|"po"|"pp"|"ppl"|"ps"|"pt"|"pyr"|"ra"|"rb"|"rh"|"ro"|"ru"|"rw"|"sa"|"sb"|"sc"|"scom"|"sd"|"se"|"sec"|"sh"|"shc"|"sl"|"sm"|"spo"|"sq"|"ss"|"st"|"te"|"th"|"ti"|"tr"|"unkss"|"vm"|"vr"|"vs"|"wfs"|"xl"|"ye"|"za"|"bl"|"hc"|"pe"|"py"    object
dtype: object

In [24]:
observation_column_names = "DateTime|Easting|Northing|Depth|Temp|Sal|Oxy|Grain|Bedform|ac|ae|an|ap|as|ba|bas|bc|bgo|bgu|bi|bo|br|bs|ca|cc|cd|cg|ch|com|cp|cr|cs|cu|de|dp|eo|ep|eu|fej|fl|fo|fr|go|ha|hal|hb|hl|ii|io|ir|jde|jm|kb|kw|lc|lcom|li|ln|lo|ls|lss|lu|ly|lz|mc|mr|ms|mse|ol|ow|pa|pc|pem|pg|ph|pi|pl|po|pp|ppl|ps|pt|pyr|ra|rb|rh|ro|ru|rw|sa|sb|sc|scom|sd|se|sec|sh|shc|sl|sm|spo|sq|ss|st|te|th|ti|tr|unkss|vm|vr|vs|wfs|xl|ye|za|bl|hc|pe|py"

In [25]:
observation_column_names = observation_column_names.split('|')
observation_data = pd.DataFrame()
observation_data = pd.DataFrame(columns = observation_column_names)

In [26]:
observation_data

Empty DataFrame
Columns: [DateTime, Easting, Northing, Depth, Temp, Sal, Oxy, Grain, Bedform, ac, ae, an, ap, as, ba, bas, bc, bgo, bgu, bi, bo, br, bs, ca, cc, cd, cg, ch, com, cp, cr, cs, cu, de, dp, eo, ep, eu, fej, fl, fo, fr, go, ha, hal, hb, hl, ii, io, ir, jde, jm, kb, kw, lc, lcom, li, ln, lo, ls, lss, lu, ly, lz, mc, mr, ms, mse, ol, ow, pa, pc, pem, pg, ph, pi, pl, po, pp, ppl, ps, pt, pyr, ra, rb, rh, ro, ru, rw, sa, sb, sc, scom, sd, se, sec, sh, shc, sl, sm, ...]
Index: []

[0 rows x 120 columns]

In [27]:
i=0
while(i<2404):
    original_observation_data.iloc[i][0] = original_observation_data.iloc[i][0].replace('"', '').replace('NA', '')
    data = str(original_observation_data.iloc[i][0])
    split = data.split('|')
    observation_data.loc[len(observation_data)] = split
    i = i+1

In [10]:
original_species_data = pd.read_csv(r'C:\Users\Isabe\Oxygen Exposure of Southern California Megafauna\SpeciesMetadata.csv')

In [11]:
species_column_names = list(original_species_data.columns)
species_column_names = species_column_names[0].split('|')
species_data = pd.DataFrame()
species_data = pd.DataFrame(columns = species_column_names)

In [12]:
i=0
while(i<111):
    data = str(original_species_data.iloc[i][0])
    split = data.split('|')
    species_data.loc[len(species_data)] = split
    i = i+1

In [13]:
observation_data[['Easting',
     'Northing',
     'Depth',
     'Temp',
     'Sal',
     'Oxy',]] = observation_data[['Easting',
                     'Northing',
                     'Depth',
                     'Temp',
                     'Sal',
                     'Oxy',]].apply(pd.to_numeric)

In [14]:
observation_data[['ac','ae','an','ap','as','ba','bas','bc','bgo','bgu','bi','bo','br','bs','ca','cc','cd','cg','ch','com',\
                  'cp','cr','cs','cu','de','dp','eo','ep','eu','fej','fl','fo','fr','go','ha','hal','hb','hl','ii','io','ir'\
                  ,'jde','jm','kb','kw','lc','lcom','li','ln','lo','ls','lss','lu','ly','lz','mc','mr','ms','mse','ol','ow'\
                  ,'pa','pc','pem','pg','ph','pi','pl','po','pp','ppl','ps','pt','pyr','ra','rb','rh','ro','ru','rw','sa',\
                  'sb','sc','scom','sd','se','sec','sh','shc','sl','sm','spo','sq','ss','st','te','th','ti','tr','unkss',\
                  'vm','vr','vs','wfs','xl','ye','za','bl','hc','pe','py']]\
= observation_data[['ac','ae','an','ap','as','ba','bas','bc','bgo','bgu','bi','bo','br','bs','ca','cc','cd','cg','ch','com',\
                  'cp','cr','cs','cu','de','dp','eo','ep','eu','fej','fl','fo','fr','go','ha','hal','hb','hl','ii','io','ir'\
                  ,'jde','jm','kb','kw','lc','lcom','li','ln','lo','ls','lss','lu','ly','lz','mc','mr','ms','mse','ol','ow'\
                  ,'pa','pc','pem','pg','ph','pi','pl','po','pp','ppl','ps','pt','pyr','ra','rb','rh','ro','ru','rw','sa',\
                  'sb','sc','scom','sd','se','sec','sh','shc','sl','sm','spo','sq','ss','st','te','th','ti','tr','unkss',\
                  'vm','vr','vs','wfs','xl','ye','za','bl','hc','pe','py']].apply(pd.to_numeric)

In [15]:
observation_data['Easting'].agg(['min', 'max'])

min    468647.562132
max    479907.572714
Name: Easting, dtype: float64

In [16]:
observation_data['Northing'].agg(['min', 'max'])

min    3.604817e+06
max    3.645491e+06
Name: Northing, dtype: float64

In [17]:
combined_data = pd.DataFrame(columns = ['DateTime','Easting','Northing','Depth', 'Temp','Sal','Oxy','Grain','Bedform','SpeciesCode', 'Mobility',
                    'SpeciesName', 'CommonName', 'MajorTaxa','Group', 'QuantScale'])

In [19]:
combined_data

Empty DataFrame
Columns: [DateTime, Easting, Northing, Depth, Temp, Sal, Oxy, Grain, Bedform, SpeciesCode, Mobility, SpeciesName, CommonName, MajorTaxa, Group, QuantScale]
Index: []

In [18]:
i=9
c=0
while(i<119):
    if (observation_data.iloc[i][0] ==1)
        c=c+1
        
    combined_data = pd.concat([new_row,df.loc[:]]).reset_index(drop=True)
    else
        c=c
    

    
    i = i+1

SyntaxError: invalid syntax (164083573.py, line 4)

In [ ]:
#combined.columns = ['DateTime','Easting','Northing','Depth', 'Temp','Sal','Oxy','Grain','Bedform','SpeciesCode', 'Mobility',
              #      'SpeciesName', 'CommonName', 'MajorTaxa','Group', 'QuantScale']

In [ ]:
%history -g -f 'Oxygen Exposure of Southern California Megafauna'

In [ ]:
# observation_column_names = list(observation_data.columns.values)
# n=0
# m=0
# while(m<120):
#     while(n<2404):
#         observation_data.loc[n][observation_column_names[m]] = observation_data.loc[n][observation_column_names[m]].replace('"', '')
#         observation_data.loc[n][observation_column_names[m]] = observation_data.loc[n][observation_column_names[m]].replace('NA', '')
#         n=n+1
#     n=0
#     m=m+1